/* Regra do reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.source-sans-3-linkedif {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }